{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
<link href="{% static 'inscription/stylesheets/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<!--[if IE]>
        <link href="{{STATIC_URL}}stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

<title> {% block title %}Acceuil{% endblock %} </title>
</head>

<body>

<section class=page>

  <header class=logo>
    <h1> STUNFEST 2014 </h1>
  </header>

  <header class=navbar>
    <ul class="liens-nav">
      <li><a href="#">Inscription</a></li>
      <li><a href="#">Liste des Joueurs</a></li>
    </ul>
  </header>

  <section class=content>

    <section class=main>
      {% block main %}
      {% endblock %}
    </section> <!-- END MAIN -->

    <section class=sidebar>
      <ul class="liens-tournois">
        <li><a class="tournois-2x-team" href="{% url 'inscription:tournois' '2X-team'  %}">2X Team 3v3</a></li>
        <li><a class="tournois-2x-mirror" href="#">2x Mirror 1v1</a></li>
        <li><a class="tournois-2x-solo" href="{% url 'inscription:tournois' '2X-solo'  %}">2x Solo</a></li>
        <li><a class="tournois-cvs-apo" href="#">CvS2 Apocalypse</a></li>
        <li><a class="tournois-cvs-team" href="#">CvS2 Team 2v2</a></li>
        <li><a class="tournois-sf4-ratio" href="#">SF4 Ratio Team 2v2</a></li>
        <li><a class="tournois-sf4-solo" href="#">SF4 Solo</a></li>
        <li><a class="tournois-3s-tier" href="#">3.3 Solo Tier</a></li>
        <li><a class="tournois-3s-team" href="#">3.3 Team 3v3</a></li>
        <li><a class="tournois-breakers" href="#">Breakers</a></li>
        <li><a class="tournois-umvc3" href="#">UMvC3</a></li>
        <li><a class="tournois-kof13" href="#">Kof13 Solo</a></li>
        <li><a class="tournois-kof-all" href="#">Kof All Star</a></li>
        <li><a class="tournois-sc5" href="#">SoulCalibur 5</a></li>
        <li><a class="tournois-tekken" href="#">Tekken Tag Tournament 2</a></li>
        <li><a class="tournois-stuntacus" href="#">Stuntacus</a></li>
        <li><a class="tournois-jojo" href="#">Jojo</a></li>
        <li><a class="tournois-blazblue" href="#">Blazblue CP</a></li>
      </ul>
    </section> <!-- END SIDEBAR -->

  </section> <!-- END CONTENT -->

  <footer class=bottom>

  </footer>

</section> <!-- END PAGE -->
</body>

</html>

